<h1>Home#crawler</h1>

<table>
    <thead>
        <tr>
            <td>제목</td>
            <td>내용</td>
        </tr>
    </thead>
    <tbody>
        
        <%@pr.each do |p|%>
            <tr>
               이름 : <td><%= p.name %></td> <br>
               종류 : <td><%= p.content%></td><br>
               주소 : <td><%= p.address%></td><br>
               전화번호 : <td><%= p.phone%></td><br>
               영업식간 : <td><%= p.time_d%></td><br>
               가격대 : <td><%= p.price%></td><br>

            </tr>
        <%end%>

        <!--<%=@post.css('a.name-link').text=%>-->

    </tbody>
</table>

<a href = '/home/crawler'>크롤링하기</a>